

@media screen and (max-height: 800px) {
	.city-box {
	bottom: 28%;
    left: 48.5%;
	}

}


@media screen and (max-height:643px) {
	.city-box {
	bottom: 19%;
   left: 48.5%;
	}

}


@media screen and (max-width:1000px) {
	.city-box {
    left: 45%;
    margin-left: -100px;
	}

}

@media screen and (max-width:884px) {
	.flex-container-reverse {
	  margin-top: 539px !important;
	}

	 .text-right {
  	margin-left: 51px;
  	margin-right: 0px; 
  	}
	
	.facts {
	  height: 1680px;
	  width: 90%;
	  margin: 0 auto;
	}

	.third {
		margin-top: 0px;
	}

	.text h1,
	.text-right h1 {
		text-align: center;
		margin-left: -50px;
	}

}

@media screen and (max-width:435px) {
	.city-box {
    left: 40%;
    margin-left: -100px;
	}

}